
@{
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="~/css/enrina.css" />
</head>
<body>
    <h1>PATIENTS AND VISITORS</h1>
    <p>Welcome to Patients and Visitors Page!</p>
</body>
</html>